## Brief note on the Problem Statment
* Task : - <b>Imbalanced Classification (is_promoted[0,1])</b>

<p>Your client is a large MNC and they have 9 broad verticals across the organisation. One of the problem your client is facing is around identifying the right people for promotion (only for manager position and below) and prepare them in time. Currently the process, they are following is:</p>

1. They first identify a set of employees based on recommendations/ past performance Selected employees go through the separate training and evaluation program for each vertical. These programs are based on the required skill of each vertical

2. At the end of the program, based on various factors such as training performance, KPI completion (only employees with KPIs completed greater than 60% are considered) etc., employee gets promotion

## Hypothesis on the approach and breif description on some thoughts

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
raw_data = pd.read_csv("./train_LZdllcl.csv")

In [15]:
raw_data.head(4)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0

In [16]:
raw_data.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

## EDA and Breif notes on the findings!

In [17]:
raw_data.is_promoted.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [18]:
raw_data.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [19]:
raw_data.education.value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [20]:
#filling missing education value with mode
raw_data['education'] = raw_data['education'].fillna("Bachelor's")

In [21]:
raw_data.isnull().sum()

employee_id                0
department                 0
region                     0
education                  0
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [23]:
##filling previous_year_rating value with mode
raw_data['previous_year_rating'] = raw_data['previous_year_rating'].fillna(3)

In [25]:
raw_data.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [26]:
from sklearn import model_selection

In [27]:
feature_list1 = ['department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score']

In [30]:
raw_data[feature_list1].dtypes

department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
dtype: object

In [31]:
raw_data[feature_list1].head(3)

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50

In [34]:
raw_data['no_of_trainings'].value_counts()

1     44378
2      7987
3      1776
4       468
5       128
6        44
7        12
10        5
9         5
8         5
Name: no_of_trainings, dtype: int64

In [39]:
for x in feature_list1:
    if raw_data[x].dtype!='float64':
        #print(df_raw[[x,Target[0]]].groupby(x, as_index = False).mean())
        print(raw_data[[x,'is_promoted']].groupby(x, as_index = False).mean())
        print("-"*30,"\n")

          department  is_promoted
0          Analytics     0.095665
1            Finance     0.081230
2                 HR     0.056245
3              Legal     0.051011
4         Operations     0.090148
5        Procurement     0.096386
6                R&D     0.069069
7  Sales & Marketing     0.072031
8         Technology     0.107593
------------------------------

       region  is_promoted
0    region_1     0.095082
1   region_10     0.078704
2   region_11     0.056274
3   region_12     0.066000
4   region_13     0.086858
5   region_14     0.074970
6   region_15     0.079060
7   region_16     0.069625
8   region_17     0.136935
9   region_18     0.032258
10  region_19     0.060641
11   region_2     0.080126
12  region_20     0.057647
13  region_21     0.043796
14  region_22     0.114188
15  region_23     0.116596
16  region_24     0.035433
17  region_25     0.125763
18  region_26     0.063274
19  region_27     0.078963
20  region_28     0.116844
21  region_29     0.043260
22   region_3     0.106936
23  region_30     0.089802
24  region_31     0.056848
25  region_32     0.042328
26  region_33     0.037175
27  region_34     0.027397
28   region_4     0.144451
29   region_5     0.045692
30   region_6     0.046377
31   region_7     0.106546
32   region_8     0.080916
33   region_9     0.019048
------------------------------

          education  is_promoted
0        Bachelor's     0.080096
1   Below Secondary     0.083230
2  Master's & above     0.098559
------------------------------

  gender  is_promoted
0      f     0.089934
1      m     0.083151
------------------------------

  recruitment_channel  is_promoted
0               other     0.083952
1            referred     0.120841
2            sourcing     0.085013
------------------------------

   no_of_trainings  is_promoted
0                1     0.088107
1                2     0.075748
2                3     0.068694
3                4     0.055556
4                5     0.023438
5                6     0.045455
6                7     0.000000
7                8     0.000000
8                9     0.000000
9               10     0.000000
------------------------------

    age  is_promoted
0    20     0.035398
1    21     0.051020
2    22     0.077922
3    23     0.079439
4    24     0.082840
5    25     0.053118
6    26     0.079126
7    27     0.092324
8    28     0.097871
9    29     0.086344
10   30     0.088404
11   31     0.087719
12   32     0.084041
13   33     0.099377
14   34     0.092978
15   35     0.104390
16   36     0.082638
17   37     0.084988
18   38     0.095684
19   39     0.094985
20   40     0.076368
21   41     0.080683
22   42     0.079199
23   43     0.077621
24   44     0.082645
25   45     0.063158
26   46     0.061693
27   47     0.048474
28   48     0.078995
29   49     0.074830
30   50     0.059501
31   51     0.087404
32   52     0.079772
33   53     0.038462
34   54     0.076677
35   55     0.061224
36   56     0.079545
37   57     0.021008
38   58     0.075117
39   59     0.081340
40   60     0.064516
------------------------------

    length_of_service  is_promoted
0                   1     0.082912
1                   2     0.089019
2                   3     0.086592
3                   4     0.087478
4                   5     0.081447
5                   6     0.084706
6                   7     0.083589
7                   8     0.093306
8                   9     0.087105
9                  10     0.093023
10                 11     0.104803
11                 12     0.079345
12                 13     0.078603
13                 14     0.052823
14                 15     0.072513
15                 16     0.074818
16                 17     0.060185
17                 18     0.063776
18                 19     0.097264
19                 20     0.078125
20                 21     0.051282
21                 22     0.098361
22                 23     0.107692
23                 24     0.000000
24                 25     0.039216
25                 26     0.000000
26                 27     0.027778
27                 28     0.066667
28                 29     0.100000
29                 30     0.000000
30                 31     0.000000
31                 32     0.200000
32                 33     0.000000
33                 34     0.250000
34                 37     0.000000
------------------------------

   KPIs_met >80%  is_promoted
0              0     0.039587
1              1     0.169094
------------------------------

   awards_won?  is_promoted
0            0     0.076749
1            1     0.440157
------------------------------

    avg_training_score  is_promoted
0                   39     0.000000
1                   40     0.000000
2                   41     0.038462
3                   42     0.032258
4                   43     0.039773
5                   44     0.029851
6                   45     0.045521
7                   46     0.031690
8                   47     0.045246
9                   48     0.039393
10                  49     0.037300
11                  50     0.041237
12                  51     0.043886
13                  52     0.038793
14                  53     0.033233
15                  54     0.049147
16                  55     0.053899
17                  56     0.064486
18                  57     0.057063
19                  58     0.068493
20                  59     0.070252
21                  60     0.064037
22                  61     0.077701
23                  62     0.080690
24                  63     0.092067
25                  64     0.114407
26                  65     0.108514
27                  66     0.091379
28                  67     0.101648
29                  68     0.082353
..                 ...          ...
31                  70     0.116588
32                  71     0.120267
33                  72     0.118621
34                  73     0.112811
35                  74     0.170901
36                  75     0.121588
37                  76     0.091085
38                  77     0.093257
39                  78     0.094319
40                  79     0.072414
41                  80     0.099502
42                  81     0.109801
43                  82     0.104354
44                  83     0.106010
45                  84     0.102740
46                  85     0.097948
47                  86     0.131579
48                  87     0.128244
49                  88     0.184685
50                  89     0.279070
51                  90     0.427027
52                  91     0.649573
53                  92     0.818182
54                  93     0.892857
55                  94     0.969231
56                  95     1.000000
57                  96     0.979167
58                  97     1.000000
59                  98     1.000000
60                  99     1.000000

[61 rows x 2 columns]
------------------------------

In [36]:
    data['FareBin'] = pd.qcut(data['Fare'], 4)

0.08517004816815063

In [40]:
pd.cut(raw_data['age'].astype(int), 5)

0         (28.0, 36.0]
1         (28.0, 36.0]
2         (28.0, 36.0]
3         (36.0, 44.0]
4         (44.0, 52.0]
5         (28.0, 36.0]
6         (28.0, 36.0]
7         (28.0, 36.0]
8        (19.96, 28.0]
9         (28.0, 36.0]
10        (28.0, 36.0]
11        (28.0, 36.0]
12        (44.0, 52.0]
13        (36.0, 44.0]
14        (36.0, 44.0]
15        (36.0, 44.0]
16        (36.0, 44.0]
17        (28.0, 36.0]
18        (28.0, 36.0]
19        (36.0, 44.0]
20        (28.0, 36.0]
21        (36.0, 44.0]
22       (19.96, 28.0]
23       (19.96, 28.0]
24        (36.0, 44.0]
25       (19.96, 28.0]
26        (28.0, 36.0]
27        (28.0, 36.0]
28        (28.0, 36.0]
29       (19.96, 28.0]
             ...
54778     (28.0, 36.0]
54779     (28.0, 36.0]
54780     (36.0, 44.0]
54781     (36.0, 44.0]
54782    (19.96, 28.0]
54783    (19.96, 28.0]
54784     (36.0, 44.0]
54785     (28.0, 36.0]
54786     (28.0, 36.0]
54787    (19.96, 28.0]
54788    (19.96, 28.0]
54789     (28.0, 36.0]
54790     (44.0, 52.0]
54791     (28.0, 36.0]
54792     (52.0, 60.0]
54793     (28.0, 36.0]
54794     (36.0, 44.0]
54795     (28.0, 36.0]
54796     (28.0, 36.0]
54797    (19.96, 28.0]
54798     (36.0, 44.0]
54799     (44.0, 52.0]
54800     (28.0, 36.0]
54801     (28.0, 36.0]
54802     (28.0, 36.0]
54803     (44.0, 52.0]
54804     (36.0, 44.0]
54805    (19.96, 28.0]
54806     (28.0, 36.0]
54807    (19.96, 28.0]
Name: age, Length: 54808, dtype: category
Categories (5, interval[float64]): [(19.96, 28.0] < (28.0, 36.0] < (36.0, 44.0] < (44.0, 52.0] < (52.0, 60.0]]

In [41]:
raw_data['age'].min()

20

In [46]:
raw_data['age'].value_counts()

30    3665
31    3534
32    3534
29    3405
33    3210
28    3147
34    3076
27    2827
35    2711
36    2517
37    2165
26    2060
38    1923
39    1695
40    1663
25    1299
41    1289
42    1149
43     992
44     847
24     845
45     760
46     697
47     557
48     557
50     521
49     441
23     428
51     389
53     364
52     351
54     313
55     294
56     264
57     238
22     231
60     217
58     213
59     209
20     113
21      98
Name: age, dtype: int64